<!DOCTYPE html>
<html lang="hu">
  <head>
    <%- include('./components/common_head') %>
    <title>Kórus</title>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="home-container">
      <a href="/api/events">Fellépések</a>
    </div>
  </body>
</html>
