<div class="search-bar-container">
  <input type="text" class="search-bar-input" placeholder="Keresés" />
  <button class="search-bar-btn">
    <span class="material-icons">search</span>
  </button>
</div>
